@import "../../style/variables.scss";
@import "../../style/adaptive.scss";

.hero {
  background: url("/hero-bg.png") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  &::after {
    content: "";
    background: rgba(221, 215, 218, 0.42);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 2;
  }
  &_content {
    position: relative;
    z-index: 6;
    top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_left {
    width: 50%;
    color: $white-color;
    height: calc(100vh - 80px);
    background: rgba(221, 37, 136, 0.42);
    @include adaptive-value("max-width", 680, 320, 0);
    &__content{
      padding-right: 10px;
      @include adaptive-value("padding-left", 100, 10, 0);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      z-index: 777777;
      h1 {
        font-weight: 500;
        @include adaptive-value("font-size", 60, 30, 0);
        text-transform: uppercase;
      }
      p {
        max-width: 360px;
        width: 100%;
        margin-top: 20px;
        font-weight: 400;
        @include adaptive-value("font-size", 20, 16, 0);
        @include adaptive-value('margin-bottom', 100, 20, 0)
      }
    }
  }
  &_right {
    max-width: 40%;
    width: 100%;
    height: calc(100vh - 80px);
    color: $white-color;
    @include adaptive-value("padding-left", 80, 30, 0);
    background: rgba(221, 37, 136, 0.42);
    &__content{
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      row-gap: 45px;
      position: relative;
      z-index: 777777;
      & > div{
        max-width: 365px;
        width: 100%;
        border: 1px solid #FFF;
        padding: 25px 0 25px 25px;
        a{
          display: block;
        }
      }
    }
  }
  &_btn{
    max-width: 360px;
    width: 100%;
  }
}


@media (max-width: 1100px) {
  .hero{
    &_right{
      &__content{
        & > div{
          width: 90%;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .hero{
    &_left{
      width: 60%;
    }
    &_right{
      width: 20%;
      &__content{
        display: none;
      }
    }
  }
}
@media (max-width: 500px) {
  .hero{
    &_left{
      max-width: 100%;
      width: 100%;
      &__content{
        width: 90%;
      }
    }
    &_right{
      display: none;
    }
  }
}