@import "../../../style/variables.scss";
@import "../../../style/adaptive.scss";

.expert_list {
  padding: 100px 0;
  .container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
  }
  h2 {
    @include adaptive-value("font-size", 60, 30, 0);
    @include adaptive-value("margin-bottom", 70, 60, 0);
    color: $black-color;
    font-weight: 500;
  }
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 50px;
    & > div {
      width: calc(33% - 53px);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: -webkit-fill-available;
      }
      .work {
        color: $pink-color;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
      }
      h6 {
        color: $black-color;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        border-bottom: 1px solid #bebebe;
      }
      p {
        color: $black-color;
        font-size: 12px;
        span {
          font-weight: 600;
        }
      }
      img {
        width: 362px;
        height: 362px;
        margin: 0 auto;
        border-radius: 50%;
        object-position: center;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 1100px) {
  .expert_list {
    .cards {
      column-gap: 50px;
      & > div {
        width: calc(33% - 33px);
        .image_container {
          .image {
            height: 300px !important;
          }
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .expert_list {
    .cards {
      & > div {
        width: calc(33% - 33px);
        img {
          height: 270px;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .expert_list {
    .cards {
      padding: 0 5px;
      & > div {
        width: calc(50% - 25px);
        img {
          height: 320px;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .expert_list {
    .cards {
      & > div {
        width: 80%;
      }
    }
  }
}
@media (max-width: 390px) {
  .expert_list {
    .cards {
      & > div {
        width: 100%;
      }
    }
  }
}
