@import "../../style/adaptive.scss";
@import "../../style/variables.scss";

.record {
  height: 100vh;
  &_content {
    display: flex;
    height: 100%;
    .left {
      height: 100%;
      width: 60%;
      img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }
    }
    .right {
      width: 40%;
      height: 100%;
      background: $pink-color;
      @include adaptive-value("padding", 40, 20, 0);
      @include adaptive-value("padding-top", 30, 10, 0);
      color: $black-color;
      overflow: hidden;
      overflow-y: scroll;
      h2 {
        font-size: 32px;
        text-align: center;
        border-bottom: 1px solid black;
        font-weight: 500;
        text-transform: uppercase;
      }
      .text {
        padding-left: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        h3 {
          font-size: 15px;
          font-weight: 600;
        }
        p {
          font-size: 15px;
          font-weight: 400;
        }
      }
      img {
        width: 100%;
        @include adaptive-value("height", 200, 150, 0);
        object-position: center;
        object-fit: cover;
        border-radius: 10px;
      }
      .selected_box {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
      }
      .selected_block {
        display: flex;
        cursor: pointer;
        column-gap: 10px;
        padding: 15px 12px;
        border-radius: 20px;
        border: 1px solid $black-color;
        background: rgba(244, 243, 240, 0.78);
        align-items: center;
        position: relative;
        img {
          width: 64px;
          height: 64px;
          object-fit: cover;
          object-position: center;
        }
        p {
          font-size: 24px;
          font-weight: 400;
        }
      }
      .selected_block_service {
        cursor: pointer;
        padding: 15px 12px;
        border-radius: 20px;
        border: 1px solid $black-color;
        background: rgba(244, 243, 240, 0.78);
        align-items: center;
        @include adaptive-value("margin-bottom", 80, 30, 0);
        .top {
          display: flex;
          align-items: center;
          column-gap: 10px;
          img {
            width: 64px;
            height: 64px;
            object-fit: cover;
            object-position: center;
          }
          p {
            font-size: 24px;
            font-weight: 400;
          }
        }
        .bottom {
          margin-top: 20px;
          border-top: 1px solid #000;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 30px;
          img {
            width: 24px;
            height: 24px;
            object-fit: cover;
            object-position: center;
          }
          h3 {
            font-size: 16px;
            font-weight: 600;
          }
          p {
            font-size: 15px;
            font-weight: 400;
          }
        }
      }
      .specialist {
        border-radius: 20px;
        border: 1px solid $black-color;
        background: rgba(244, 243, 240, 0.78);
        padding: 20px;
        cursor: pointer;
        margin-bottom: 30px;
        h3 {
          font-size: 14px;
          font-weight: 600;
        }
        p {
          font-size: 12px;
          font-weight: 400;
        }
        .top {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          img {
            width: 85px;
            height: 85px;
            object-fit: cover;
            object-position: center;
            margin-right: 10px;
            border-radius: 50%;
          }
        }
        .bottom {
          ul {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 20px;
            row-gap: 15px;
          }
          li {
            padding: 5px 20px;
            cursor: pointer;
            border-radius: 36px;
            border: 1px solid var(--unnamed, rgba(16, 16, 16, 0.9));
          }
        }
      }
      .service {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        @include adaptive-value("padding-left", 50, 10, 0);
        @include adaptive-value("padding-right", 50, 10, 0);
        color: $black-color;
        border-radius: 20px;
        border: 1px solid $black-color;
        cursor: pointer;
        margin-bottom: 10px;
        background: rgba(244, 243, 240, 0.78);
        h3 {
          @include adaptive-value("font-size", 24, 14, 0);
          font-weight: 600;
        }
        p {
          @include adaptive-value("font-size", 20, 14, 0);
          font-weight: 400;
        }
      }
      .chosen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid $black-color;
        background: rgba(244, 243, 240, 0.78);
        cursor: pointer;
        .top {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          img {
            width: 85px;
            height: 85px;
            object-fit: cover;
            object-position: center;
            margin-right: 10px;
            border-radius: 50%;
          }
        }
        h3 {
          font-size: 14px;
          font-weight: 600;
        }
        p {
          font-size: 12px;
          font-weight: 400;
        }
        img {
          width: 24px;
          height: 24px;
        }
      }
      &_chosen_time {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        & .day {
          font-size: 20px !important;
          font-weight: 600;
        }
        & img {
          width: 24px !important;
          height: 24px !important;
          cursor: pointer;
          position: absolute;
          right: 20px;
          top: 40%;
        }
        & p {
          font-size: 15px !important;
          font-weight: 400;
        }
      }
      .form {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        & > div {
          margin-bottom: 30px;
        }
        label {
          color: $black-color;
          display: block;
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
        textarea,
        input {
          border-radius: 36px;
          border: 1px solid #000;
          background: none;
          padding: 10px 20px;
          width: 100%;
        }
        &_btn {
          max-width: 220px;
          width: 100%;
          margin: 0 auto;
        }
      }
      .date {
        border-radius: 20px;
        border: 1px solid #101010;
        background: rgba(244, 243, 240, 0.78);
        padding: 20px;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        ul {
          width: 100%;
          border: 1px solid #101010;
          border-radius: 20px;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 30px;
          li {
            cursor: pointer;
            border: 1px solid #101010;
            border-radius: 20px;
            width: calc(33% - 20px);
            text-align: center;
          }
        }
      }
    }
  }
}
