@import "../../style/variables.scss";
@import "../../style/adaptive.scss";

.main {
  height: 100vh;
  width: 100%;
  background: var(--page, #efdfeb);
  .content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  &_left {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    height: 100%;
    @include adaptive-value("padding-left", 95, 5, 0);
    h2 {
      margin-top: 40px;
      max-width: 850px;
      width: 100%;
      @include adaptive-value("font-size", 60, 26, 0);
      color: $black-color;
    }
    p {
      @include adaptive-value("font-size", 16, 14, 0);
      color: #656363;
      text-overflow: ellipsis;
      font-weight: 400;
      max-width: 385px;
      width: 100%;
      margin-bottom: 40px;
    }
    &_btn {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      z-index: 10;
      & > div {
        max-width: 365px;
        width: 100%;
      }
    }
  }
  &_right {
    display: flex;
    align-items: center;
    height: 100%;
    width: 45%;
    justify-content: flex-start;
    background: rgba(221, 37, 136, 0.42);
    .image {
      border: 10px solid #fff;
      box-shadow: 0px 20px 60px 0px rgba(47, 68, 73, 0.46);
      position: relative;
      width: 373px;
      height: 460px;
      .img {
        width: 383px;
        height: 410px;
        position: absolute;
        top: 15px;
        left: -60px;
        img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
        }
      }
    }
  }
}
.courses {
  background: var(--page, #efdfeb);
  padding: 30px 20px;
  h2 {
    @include adaptive-value("margin-bottom", 55, 20, 0);
    @include adaptive-value("font-size", 60, 40, 0);
  }
  &_cards {
    display: flex;
    justify-content: center;
    row-gap: 50px;
    column-gap: 100px;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    &_card {
      width: calc(50% - 50px);
      padding: 35px 50px;
      border-radius: 20px;
      background: $white-color;
      color: $black-color;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        width: 100%;
        height: 229px;
        object-fit: cover;
        object-position: center;
        border-radius: 41px;
      }
      h3 {
        @include adaptive-value("font-size", 20, 16, 0);
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        margin: 20px 0;
      }
      span {
        @include adaptive-value("font-size", 15, 13, 0);
        font-size: 15px;
        font-weight: 600;
      }
      p {
        @include adaptive-value("font-size", 15, 13, 0);
        font-weight: 400;
      }
      .btn {
        max-width: 200px;
        width: 100%;
        margin: 0 auto;
        margin-top: 25px;
      }
    }
  }
}
.benefits {
  padding: 60px 0;
  background: $pink-color;
  color: $white-color;
  text-transform: uppercase;
  h2 {
    text-align: center;
    @include adaptive-value("font-size", 60, 30, 0);
    @include adaptive-value("margin-bottom", 40, 20, 0);
    font-weight: 400;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    justify-content: center;
  }
  .card {
    width: calc(33% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .image {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background: lightgray 50%;
      position: relative;
      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      .img1 {
        position: absolute;
        width: 55px;
        height: 189px;
        z-index: 5;
        left: 25%;
        bottom: 10px;
      }
      .img2 {
        position: absolute;
        width: 109px;
        bottom: 0;
        left: 30%;
        z-index: 3;
        height: 268px;
      }
      .img3 {
        position: absolute;
        width: 93px;
        height: 179px;
        bottom: 5px;
        left: 50%;
        border-bottom-right-radius: 100%;
      }
    }
    h3 {
      @include adaptive-value("font-size", 24, 16, 0);
      font-weight: 700;
      text-align: center;
    }
  }
}

@media (max-width: 1100px) {
  .main {
    &_left {
      width: 60%;
      h2 {
        max-width: 450px;
      }
    }
    &_right {
      width: 40%;
      padding-right: 10px;
      .image {
        margin-top: 30px;
        width: 360px;
        height: 430px;
        .img {
          width: 333px;
          height: 370px;
          left: -40px;
        }
      }
    }
  }
  .courses {
    padding: 30px 10px;
    &_cards {
      column-gap: 50px;
      width: 100%;
      &_card {
        width: calc(50% - 25px);
      }
    }
  }
  .benefits {
    .cards {
      display: flex;
      flex-wrap: wrap;
      column-gap: 40px;
      justify-content: center;
    }
    .card {
      width: calc(33% - 26px);
      .image {
        width: 250px;
        height: 250px;
        .img1 {
          width: 40px;
          height: 160px;
          left: 28%;
          bottom: 4px;
        }
        .img2 {
          width: 77px;
          height: 222px;
          left: 34%;
        }
        .img3 {
          width: 72px;
          height: 159px;
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .main {
    &_right {
      width: 40%;
      padding-right: 10px;
      .image {
        height: 400px;
        .img {
          margin-top: 20px;
          width: 290px;
          height: 300px;
          left: -10px;
        }
      }
    }
  }
  .courses {
    &_cards {
      column-gap: 20px;
      &_card {
        padding: 15px 30px;
        width: calc(50% - 10px);
      }
    }
  }
  .benefits {
    .card {
      width: calc(33% - 26px);
      .image {
        width: 200px;
        height: 200px;
        .img1 {
          height: 128px;
        }
        .img2 {
          height: 173px;
        }
        .img3 {
          height: 124px;
        }
      }
    }
  }
}
@media (max-width: 750px) {
  .courses {
    &_cards {
      &_card {
        padding: 10px 15px;
        img {
          height: 200px;
        }
      }
    }
  }
    .benefits {
    .card {
      h3 {
        font-weight: 500;
      }
    }
  }
}
@media (max-width: 700px) {
  .main {
    .content {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    &_left {
      margin-top: 50px;
      padding: 10px;
      width: 100%;
      height: 80%;
      justify-content: flex-end;
      h2 {
        max-width: 100%;
        text-align: center;
        margin-top: 10px;
      }
      p {
        margin: 0px auto 0;
        text-align: center;
      }
      &_btn {
        margin-top: 10px;
        flex-direction: row;
        column-gap: 30px;
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        & > div {
          width: calc(50% - 15px);
        }
      }
    }
    &_right {
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      padding-right: 0;
      background: var(--page, #efdfeb);
      .image {
        border: none;
        box-shadow: none;
        position: relative;
        width: 373px;
        margin-top: 0;
        height: 70%;
        .img {
          margin-top: 0;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          img {
            border-radius: 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .benefits{
    padding: 40px 0;
    .cards{
      row-gap: 20px;
    }
    .card{
      width: calc(50% - 30px);
    }
  }
}
@media (max-width: 600px) {
  .main {
    &_left {
      &_btn {
        display: flex;
        flex-direction: row;
        row-gap: 10px;
        column-gap: 10px;
        z-index: 10;
        & > div {
          max-width: 365px;
          width: 100%;
        }
      }
    }
  }
  .courses {
    &_cards {
      &_card {
        width: 70%;
        margin: 0 auto;
        img {
          height: 200px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .courses {
    &_cards {
      &_card {
        width: 85%;
      }
    }
  }
  .benefits {
    .cards{
      row-gap: 30px;
    }
    .card {
      width: 80%;
      h3{
        margin-top: 10px;
      }
    }
  }
}
@media (max-width: 400px) {
  .main {
    &_left {
      height: 40%;
      &_btn {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        z-index: 10;
        & > div {
          max-width: 365px;
          width: 100%;
        }
      }
    }
    &_right {
      .image {
        width: 80%;
        height: 55%;
        margin-top: 0;
      }
    }
  }
  .courses {
    &_cards {
      &_card {
        width: 100%;
        margin: 0 auto;
        img {
          height: 170px;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .main {
    &_left {
      height: 50%;
      &_btn {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        z-index: 10;
        & > div {
          max-width: 365px;
          width: 100%;
        }
      }
    }
    &_right {
      height: 50%;
      .image {
        width: 80%;
        height: 50%;
        margin-top: 0;
      }
    }
  }
}